<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>结果</title>
    <style>
      .footer-wrap {
        position: absolute;
        bottom: calc(52px + constant(safe-area-inset-bottom));
        bottom: calc(52px + env(safe-area-inset-bottom));
        width: 50vw;
        max-width: 50vw;
        left: 50%;
        margin-left: -25vw;
        box-sizing: border-box;
      }

      .answer-item {
        padding: 20px calc(25vw - 146px);
        border-bottom: 1px solid #eee;
        background-color: #fff;
        overflow: hidden;
        max-width: 100vw;
      }
      .answer-item.replay-item {
        background-color: rgb(247, 247, 248);
      }
      .answer-item.image-question-item {
        padding-top: 0;
        padding-bottom: 0;
      }
      .answer-content {
        overflow-y: auto;
        max-height: calc(100vh - 185px - constant(safe-area-inset-bottom));
        max-height: calc(100vh - 185px - env(safe-area-inset-bottom));
        position: relative;
      }
      .answer-content::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background: transparent;
        border-radius: 5x;
      }

      .answer-content::-webkit-scrollbar-thumb {
        background: rgb(172, 172, 190);
        border-radius: 5px;
      }
      .answer-text {
        font-size: 16px;
        line-height: 22px;
        box-sizing: border-box;
        max-width: 100%;
        white-space: pre-wrap;
        position: relative;
        z-index: 2;
      }

      .answer-text code {
        white-space: pre-wrap;
      }
      .answer-text p {
        margin: 0 !important;
      }
      .answer-text .img-conv {
        width: 100px;
        height: auto;
      }
      pre {
        position: relative;
      }
      body {
        height: 100vh;
        background: #fafafa; 
      }
    </style>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/showdown/2.1.0/showdown.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css"
    />
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.7.0/es/core.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
    <div id="app">
      <div class="chat-body">
        <div class="conversation-list">
          <div class="answer-content" id="chat-content" @scroll="onScroll">
            <div class="answer-list-wrap" ref="listWrap">
              <div
                v-for="item in msgList"
                class="answer-item"
                :class="{
                        'replay-item': item.type === 2,
                        'image-question-item': item.type === 'image',
                      }"
                :data-type="item.type"
              >
                <div v-if="item.type === 'loading'">
                  <a-skeleton active />
                </div>
                <div v-else class="answer-text" v-html="item.content"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="footer-wrap">-->
<!--        <div class="footer-input-wrap">-->
<!--          <input-->
<!--            type="text"-->
<!--            class="form-control"-->
<!--            v-model="keyword"-->
<!--            placeholder="来问点什么吧"-->
<!--            @keyup.enter="toSearch"-->
<!--          />-->
<!--          <div class="form-buttons">-->
<!--            <button class="btn btn-primary send-btn" @click="toSearch">-->
<!--              发送-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <script>
      //组件
      // 生成实例
    //   import hljs from 'highlight.js'
      const app = Vue.createApp({
        data() {
          return {
            count: 0,
            keyword: '',
            msgList: [{
              type: 1,
              content: "等待输入指令...",
            }],
          }
        },
        methods: {
          onScroll() {},
          copyToClipboard(content) {
            if (window.clipboardData) {
              window.clipboardData.setData('text', content)
            } else {
              ;(function (content) {
                document.oncopy = function (e) {
                  e.clipboardData.setData('text', content)
                  e.preventDefault()
                  document.oncopy = null
                }
              })(content)
              document.execCommand('Copy')
            }
          },
          async toSearch(res) {
            this.msgList = [{
              type: 1,
              content: "已为你生成答案",
            }, {
              type: 'loading',
            }]
            const chatContent = document.getElementById('chat-content')
            setTimeout(() => {
              chatContent.scrollTop = 10000000
            }, 100)
            const messageIndex = this.msgList
              .map((i) => i.type)
              .indexOf('loading')
            try {
              let str_ = ''
              let i = 0
              let alltext = res.replace(/^\n+/, '')
              let strforcode = ''
              const converter = new showdown.Converter()
              timer = setInterval(() => {
                alltext = alltext.replace(/\\n/g, '\n')
                if (str_.length < alltext.length) {
                  str_ += alltext[i++]
                  strforcode = str_ + '_'
                  if (str_.split('```').length % 2 === 0) {
                    strforcode += '\n```\n'
                  }
                }
                if (str_.length >= alltext.length) {
                  clearInterval(timer)
                  strforcode = str_
                }
                setTimeout(() => {
                  let msg = {
                    type: 2,
                    content: converter.makeHtml(strforcode
                      .replace(/\t/g, 'ZZXXTABS')
                      .replace(/    /g, 'ZZXXSPACE')
                      ).replace(/ZZXXTABS/g, '\t')
                      .replace(/ZZXXSPACE/g, '    '),
                  }
                  this.msgList[messageIndex] = msg
                })
                let that = this
                setTimeout(() => {
                  hljs.highlightAll()
                  chatContent.scrollTop = 10000000

                  ;[...document.getElementsByTagName('pre')].forEach((item) => {
                    item.style.position = 'relative'
                    let copyButton = document.createElement('button')
                    copyButton.style.cssText =
                      'border-radius: 4px;position:absolute;right:10px;top:10px;cursor: pointer'
                    copyButton.innerHTML = 'Copy code'
                    copyButton.onclick = function () {
                      let copyData = item.firstChild.innerText
                      that.copyToClipboard(copyData)
                      copyButton.innerHTML = 'Copied!'
                      setTimeout(function () {
                        copyButton.innerHTML = 'Copy code'
                      }, 1000)
                    }
                    item.appendChild(copyButton)
                  })
                })
              }, 20)
            } catch (error) {
              setTimeout(() => {
                let msg = {
                  type: 2,
                  content: error.message,
                }
                this.msgList[messageIndex] = msg
              })
              setTimeout(() => {
                chatContent.scrollTop = 10000000
              })
            }
          },
          async cleanPreResponse(content) {
            this.msgList = [{
              type: 1,
              content: content+"",
            }]
          },
          async streaming(chunk, id) {
            if (this.msgList[0].content !== "已为你生成答案") {
              this.msgList = [{
                type: 1,
                content: "已为你生成答案",
              }, {
                type: 2,
                content: '',
                alltext: '',
                str_: '',
                i : 0,
                id: id,
              }]
            } else if (this.msgList.length === 1) {
              this.msgList.push({
                type: 2,
                content: '',
                alltext: '',
                str_: '',
                i: 0,
                id: id,
                done: false,
                strforcode: '',
              })
            } else if (this.msgList[1].id !== id) {
              this.msgList[1] = {
                type: 2,
                content: '',
                alltext: '',
                str_: '',
                i: 0,
                id: id,
                done: false,
                strforcode: '',
              }
            }
            if (this.msgList[1].done) {
              return
            }

            const converter = new showdown.Converter()
            if (!this.msgList[1].timer) {
              this.msgList[1].timer = setInterval(() => {
                let alltext = this.msgList[1].alltext
                let i = this.msgList[1].i
                let str_ = this.msgList[1].str_
                let strforcode = this.msgList[1].strforcode

                alltext = alltext.replace(/\\n/g, '\n')

                if (str_.length < alltext.length) {
                  str_ += alltext[i++]
                  strforcode = str_ + '_'
                  if (str_.split('```').length % 2 === 0) {
                    strforcode += '\n```\n'
                  }
                }

                if (str_.length >= alltext.length && this.msgList[1].done) {
                  clearInterval(this.msgList[1].timer)
                  this.msgList[1].timer = undefined
                  strforcode = str_
                }

                this.msgList[1].content = converter.makeHtml(strforcode
                  .replace(/\t/g, 'ZZXXTABS')
                  .replace(/    /g, 'ZZXXSPACE')
                  ).replace(/ZZXXTABS/g, '\t')
                  .replace(/ZZXXSPACE/g, '    ')
                let that = this
                this.$nextTick(() => {
                  hljs.highlightAll()

                  ;[...document.getElementsByTagName('pre')].forEach((item) => {
                    item.style.position = 'relative'
                    let copyButton = document.createElement('button')
                    copyButton.style.cssText =
                      'border-radius: 4px;position:absolute;right:10px;top:10px;cursor: pointer'
                    copyButton.innerHTML = 'Copy code'
                    copyButton.onclick = function () {
                      let copyData = item.firstChild.innerText
                      that.copyToClipboard(copyData)
                      copyButton.innerHTML = 'Copied!'
                      setTimeout(function () {
                        copyButton.innerHTML = 'Copy code'
                      }, 1000)
                    }
                    item.appendChild(copyButton)
                  })
                })
                const chatContent = document.getElementById('chat-content')
                chatContent.scrollTop = 10000000

                this.msgList[1].str_ = str_
                this.msgList[1].i = i
                this.msgList[1].alltext = alltext
                this.msgList[1].strforcode = strforcode
              }, 30)
            }

            if (chunk === '[DONE]') {
              this.msgList[1].done = true
              return
            } 

            if (this.msgList[1].alltext === '') {
              this.msgList[1].alltext = chunk.replace(/^\n+/, '')
            } else {
              this.msgList[1].alltext += chunk
            }
          }
        },
        mounted() {
          window.toSearch = this.toSearch
          window.cleanPreResponse = this.cleanPreResponse
          window.streaming = this.streaming
        },
      })
      // 挂载
      app.mount('#app')
    </script>
  </body>
</html>
